.banner-area{
    background-image: url("backgraud.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 15px 60px;
}
.menu{
    width: 35%;
    float: right;
    list-style: none;    
    right: 0px;
    top: 0px;
    
}
.menu li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:black;
    font-size: 13px;
    float: left;
}
.menu li:hover{
    background: rgb(0, 174, 255);
}
.menu li:hover a{
    color: #000;
}
.menu li a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    text-transform: uppercase;
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 0;
    width: 20%;
    float: left;
    position: fixed;
    z-index: 1;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;
}
.banner-text h2{
    font-family: baloo;
    margin: 0;
    font-size: 55px;
    color: rgb(32, 177, 177);
}
.banner-text p{
    font-size: 22px;
    margin: 0;
    font-family: poppins;
}
.banner-text a{
    text text-decoration: none;
    border: 1px solid #fff;
    font-size: 17px;
    padding: 10px 35px;
    color:black;
    display: inline-block;
    margin-top:5%;
    font-family:poppins;
    text-transform:uppercase;
}
.banner-text a:hover{
    border-color: rgb(0, 174, 255);
    background: rgb(0, 174, 255);
    transition: .5s;
    color: #262626;
}
.education {
    background-color: rgb(156, 187, 176);
    text-align: center; 
    margin-top: 2%;
    margin-bottom: 2%;
}
.logosmansa {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.logouk{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.awards{
    background-color:  rgb(156, 187, 176);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.hobby{
    background-color: rgb(156, 187, 176);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%; 
}
.skills{
    background-color: rgb(156, 187, 176);
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.contact{
    background-color: rgb(168, 139, 139);
    text-align:left ;
    margin-top: 0%;
    margin-bottom: 2%;
}
@media screen and (max-width: 500px){
    .logo{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;  
    padding: 20px 0;
    width: 20%;
   float: left;
    }
    .menu{
        width: 35%;
        float: right;
        list-style: none;
        font-size: 25px;
        position: fixed;    
        right: 0px;
        top: 0px;
        z-index: 1;
    }
}
.p{
    text-align: center;
}
.h2{
    text-align: center;
}
